.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

img {
  width: 200px;
  display: block; 
  margin: 0 auto;
}

h2, p {
  display: flex; 
  justify-content: center;
}

